html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 20px;
  position: fixed;
  background-color: #198754;
  width: calc(100vw - 40px);
}
.header .l-c,
.r-c {
  display: flex;
  grid-gap: 20px;
}
.header .l-c span {
  cursor: pointer;
}
.header .fa {
  color: white;
}
.header a {
  color: white;
  text-decoration: none;
}
.mc {
  padding: 20px;
}
.hm-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  color: white;
  text-align: center;
}

#home {
  background-color: #20c997;
  height: 400px;
}
#home .n {
  font-size: 50px;
}
#home .r {
  font-size: 20px;
}
#skills {
  padding-top: 40px;
  background-color: #f7f8fa;
  color: #58677c !important;
}

#footer {
  height: 150px;
  background-color: #20c997;
}

#about {
  background-color: palevioletred;
}

.s-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.s-t {
  font-weight: 400;
  font-size: 28px;
  line-height: 33.6px;
  margin-bottom: 20px;
}
.exp {
  max-width: 600px;
  text-align: center;
}
.card {
  background-color: white;
  width: 340px;
  border: 1px solid #20c997;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  position: relative;
  margin: 20px;
  padding: 20px;
}
.card-icon {
  background-color: #20c997;
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  left: 150px;
  top: -39px;
  text-align: center;
  height: 40px;
}
.card li {
  margin-bottom: 10px;
  color: #58677c;
  font-family: Roboto, sans-serif;
}
.card ul {
  list-style: none;
  padding: 0px;
}

.card ul li:before {
  content: "✓";
  color: #20c997;
  padding-right: 10px;
}

.s-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.f-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.section-intro {
  max-width: 780px;
  text-align: center;
}
.text-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
h3 {
  font-weight: 700;
  font-size: 1.75rem;
}
